# Node.js 의존성
node_modules/

# 빌드 결과물
dist/
build/

# 환경 변수 파일
.env
.env.local
.env.*.local

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 운영체제 파일
.DS_Store
Thumbs.db

# IDE/에디터 설정
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# 테스트 커버리지
coverage/

# Parcel, Vite, Webpack 등의 캐시
.cache/
.next/
out/
.temp/
.tmp/
.esbuild/
vite.config.ts

# Babel 캐시
babel-cache/
.babel-cache/

# Lint cache
.eslintcache

# TypeScript 빌드 출력
*.tsbuildinfo

# Storybook 빌드 출력
.storybook-out/
.storybook-static/

# 기타 생성된 파일
*.log
*.tgz
*.zip
*.bak
*.swp
*.tmp
*.log.*

# local development db or config
*.local.json
*.sqlite
*.sqlite3

# Jest Snapshot
__snapshots__/

# macOS, Linux 관련
*.orig
*.patch

